<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="asia.zyq.shijing.mapper.PaperMapper">

    <select id="getPaperById" parameterType="String" resultType="asia.zyq.shijing.pojo.Paper">
        select * from paper where id = #{id}
    </select>

    <select id="getPaperListBySubsectionId" parameterType="String" resultType="asia.zyq.shijing.pojo.Paper">
        select * from paper where subsectionid = #{subsectionId}
    </select>



</mapper>