<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="asia.zyq.shijing.mapper.SubsectionMapper">

    <select id="getSubsectionListByChapterId" parameterType="String" resultType="asia.zyq.shijing.pojo.Subsection">
        select * from subsection where chapterid = #{chapterId}
    </select>

    <select id="getSubsectionById" parameterType="String" resultType="asia.zyq.shijing.pojo.Subsection">
        select * from subsection where id = #{id}
    </select>

</mapper>