<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<configuration>
    <!--引入外部配置文件-->
    <properties resource="db.properties"/>


    <environments default="default">
        <environment id="default">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 每一个Mapper.XML都需要在核心配置文件中注册 -->
    <mappers>
        <mapper class="asia.zyq.shijing.mapper.UserMapper"/>
        <mapper class="asia.zyq.shijing.mapper.SettingMapper"/>
        <mapper class="asia.zyq.shijing.mapper.ChapterMapper"/>
        <mapper class="asia.zyq.shijing.mapper.SubsectionMapper"/>
        <mapper class="asia.zyq.shijing.mapper.PaperMapper"/>
        <mapper class="asia.zyq.shijing.mapper.QuestionMapper"/>
        <mapper class="asia.zyq.shijing.mapper.PersonMapper"/>
        <mapper class="asia.zyq.shijing.mapper.PersonPaperMapper"/>
        <mapper class="asia.zyq.shijing.mapper.FollowMapper"/>
    </mappers>
</configuration>